.idea
.git
.gitignore
__pycache__
logs/*
metrics/*
modules/face/tools/*
modules/face/liveness/*.csv
app/tool/*
modules/check_input/*
modules/face/align/*
modules/face/PCN_detector/*
script_build.sh
script_run.sh
test/*
build/*
venv/
test/