.idea
__pycache__

*.tar
*.zip
application/test/data
application/logs
serving/models
*.bin
*.dat
*.jl
application/modules/face/PCN_detector
.ipynb_checkpoints/
application/test/report/all_2M_1U.html
application/test/report/all_2M_5U.html
application/test/report/all_2M_10U.html
application/test/report/all_2M_100U.html
application/test/report/all_2M.html
application/test/report/report_1611399293.4545078.html
application/test/report/report_1611399451.869676.html
application/test/report/report_1611406760.6702924.html
application/test/report/report_1611406853.962143.html
application/test/report/report_1611407057.384876.html
application/test/report/search_2M_5U.html
application/test/report/search_2M_10U.html
application/test/report/search_2M_100U.html
application/test/report/search_2M.html
application/test/report/test_perform_face_anti_spoof.html