model_config_list {
    config {
        name: "retinaface_mbnet"
        base_path: "/models/face/retinaface_mbnet"
        model_platform: "tensorflow"
        
    }
    config {
        name: "retinaface_res50"
        base_path: "/models/face/retinaface_res50"
        model_platform: "tensorflow"
        
    }
    config {
        name: "arcface"
        base_path: "/models/face/arcface"
        model_platform: "tensorflow"
        
    }
    config {
        name: "landmark"
        base_path: "/models/face/landmark"
        model_platform: "tensorflow"

    }
    config {
        name: "anti_spoof"
        base_path: "/models/face/anti_spoof"
        model_platform: "tensorflow"

    }
}
